.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 770px) {

    .wedo__img {
        display: none;
    }

    .wedo__item {
        width: 100%;
    }
}
